<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<param name="robot_description" command="$(find xacro)/xacro $(find blender_urdf_gen_tutorial)/gazebo_xacro/test_bot.gazebo.xacro" />
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model test_bot" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>
</launch>